.footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons li {
    list-style: none;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #d3a664;
  }
  